<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link href="/css/styles.css" rel="stylesheet">
    <title>Menu-Inicio</title>
</head>

<body>
    <div class="container">        
        <div class="d-grid gap-2 col-5 mx-auto position-absolute top-50 start-50 translate-middle">
            <div class="text-center">
                <h2>Bienvenido a Mi Doc</h2>
            </div>
            <img src="https://img.freepik.com/foto-gratis/doctor-cruzando-brazos-mientras-sostiene-estetoscopio-bata-blanca_176474-8491.jpg?w=740&t=st=1668624601~exp=1668625201~hmac=33a6f0f0c08d56ffa23136d4a5daf5379a08954e121ba27da7ae2cb8d3217308"
                width="400" height="450" class="rounded mx-auto d-block">
            <a class="btn btn-primary" type="button" href="login">Login</a>
            <a class="btn btn-primary" type="button" href="signIn">SignUp</a>
        </div>
    </div>
</body>

</html>