<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Nueva Especialidad</title>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Nueva Especialidad</h3>
                    <form action="/newEspecialidad" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nombre de especialidad</label>
                            <input type="text" class="form-control" name="nombre_es" aria-describedby="text" required />
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Descripción</label>
                            <textarea rows="7" class="form-control" name="descripcion_es" aria-describedby="text"
                            required maxlength="250" ></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Crear especialidad</button>
                    </form>
                </div>
            </div>            
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/adminJquery.js"> </script>
</body>

</html>